<!doctype html>
<h1>Photos with {{tagName}}</h1>

<form action="{{ url_for('get_tags', Number=number) }}" method="POST">
    <button type="submit" value="Mine" class="btn btn-default submit" name="action">View my photos with tag {{tagName}}</button>
</form>
<form action="{{ url_for('get_tags', Number=number) }}" method="POST">
    <button type="submit" value="All" class="btn btn-default submit" name="action">View all photos with tag {{tagName}}</button>
</form>
<ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
    {% endfor %}

</ul>